[submodule "docs/workshops/python-intensive"]
    path = docs/workshops/python-intensive
    url = https://github.com/harvardinformatics/python-intensive.git
[submodule "docs/workshops/healthy-habits"]
    path = docs/workshops/healthy-habits
    url = https://github.com/harvardinformatics/healthy-habits.git
[submodule "docs/workshops/biotips"]
    path = docs/workshops/biotips
    url = https://github.com/harvardinformatics/biotips.git
[submodule "docs/workshops/intro-r"]
    path = docs/workshops/intro-r
    url = https://github.com/harvardinformatics/intro-r.git
[submodule "docs/workshops/short-trainings"]
    path = docs/workshops/short-trainings
    url = https://github.com/harvardinformatics/short-trainings.git
[submodule "docs/workshops/snakemake"]
	path = docs/workshops/snakemake
	url = https://github.com/harvardinformatics/snakemake-workshop.git
