/*------------------------------------------------------*/
/* Author row styles */

.author-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.98em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.75em;
  /* gap: 0.75em; */
}

.page-maintainer-row {
  border: none;
  padding: 0;
}

.author-header {
  margin-right: 0.6em; 
  font-weight: bold;
}

.author-row a {
  /* Make sure the links are block-level so they stack cleanly in column mode */
  display: inline-flex;
  align-items: center;
}  

.author-row a img {
  width: 32px; 
  height: 32px; 
  border-radius:50%; 
  object-fit: cover;
}

.author-row-last-updated {
  margin: 0 0.4em;
}

@media (max-width: 600px) {
  .author-row.many-authors {
    flex-direction: row !important;
    flex-wrap: wrap;
    gap: 0.3em;
  }
  .author-row.many-authors .author-header {
    display: block;
    width: 100%;
    margin-bottom: 0.4em;
    margin-right: 0;  /* Undo inline margin */
  }

  /* .author-row.many-authors a img {
    width: 24px;
    height: 24px;
  } */
  .author-row.few-authors {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25em;
  }
  /* .author-row.few-authors a img {
    width: 32px;
    height: 32px;
  } */

  .author-row-last-updated {
    display: block;
    width: 100%;
    /* margin-top: 0.5em; */
    margin-left: 0;    /* ensures no indent from previous line */
    margin-right: 0;
  }

  .author-row-dot {
    display: none; /* Hide the dot in mobile view */
  }
} 