<!doctype html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">	
    <link type="text/css" rel="stylesheet" href="../docs/stylesheets/extra.css"  media="screen,projection" />
</head>

<body>

    <div class="row">
        <div class="col-2-24 margin"></div>

        <div class="col-6-24 card-container">
            <div class="row">
                <div class="col-6-24 card-margin"></div>
                <div class="col-12-24 card-name">
                    <h3>Gregg Thomas, Ph.D.</h3>
                </div>
                <div class="col-6-24 card-margin"></div>
            </div>

            <div class="row">
                <div class="col-1-24 card-margin"></div>
                <div class="col-9-24 card-img-container">
                    <a href="https://gwct.github.io/" target="_blank">
                        <img class="card-img" src="../docs/img/people/gwct.jpg">
                    </a>
                </div>
                <div class="col-2-24 card-margin"></div>
                <div class="col-10-24 card-content">
                    gthomas@fas.harvard.edu<br />
                    Northwest Labs, B227.65<br />                    
                    <p>
                        Gregg does phylogenetics and stuff. He also codes in python and R and uses snakemake and conda. 
                        In his spare time he likes to read, play games, do puzzles, and walk dogs
                    </p>

                </div>
                <div class="col-2-24 card-margin"></div>
            </div>

            <!-- <div class="card-sep-div"></div> -->

            <div class="row card-link-row">
                <div class="col-2-24 card-margin"></div>
                <div class="col-4-24 card-link-container">
                    <div class="icon-link-container">
                        <a href="https://gwct.github.io/" class="icon-link" target="_blank">
                            <div class="icon-container">
                                <img class="icon" src="../docs/img/icons/website-logo-black.png">
                            </div>
                            <span>Website</span>
                        </a>
                    </div>
                </div>
                <div class="col-2-24 card-margin"></div>
                <div class="col-4-24 card-link-container">
                    <div class="icon-link-container">
                        <a href="https://scholar.google.com/citations?user=4pydfEUAAAAJ&hl=en" class="icon-link" target="_blank">
                            <div class="icon-container">
                                <img class="icon" src="../docs/img/icons/scholar-logo-black.png">
                            </div>
                            <span>Scholar</span>
                        </a>
                    </div>
                </div>
                <div class="col-2-24 card-margin"></div>
                <div class="col-4-24 card-link-container">
                    <div class="icon-link-container">
                        <a href="https://github.com/gwct" class="icon-link" target="_blank">
                            <div class="icon-container">
                                <img class="icon" src="../docs/img/icons/github-logo-black.png">
                            </div>
                            <span>Github</span>
                        </a>
                    </div>
                </div>
                <div class="col-2-24 card-margin"></div>
            </div>

        </div>

        <div class="col-1-24 margin"></div>

        <div class="col-6-24 card-container">
            <div class="row">
                <div class="col-6-24 card-margin"></div>
                <div class="col-12-24 card-name">
                    <h3>Gregg Thomas, Ph.D.</h3>
                </div>
                <div class="col-6-24 card-margin"></div>
            </div>

            <div class="row">
                <div class="col-1-24 card-margin"></div>
                <div class="col-9-24 card-img-container">
                    <a href="https://gwct.github.io/" target="_blank">
                        <img class="card-img" src="../docs/img/people/gwct.jpg">
                    </a>
                </div>
                <div class="col-2-24 card-margin"></div>
                <div class="col-10-24 card-content">
                    gthomas@fas.harvard.edu<br />
                    Northwest Labs, B227.65<br />                    
                    <p>
                        Gregg does phylogenetics and stuff. He also codes in python and R and uses snakemake and conda. 
                        In his spare time he likes to read, play games, do puzzles, and walk dogs
                    </p>
                </div>
                <div class="col-2-24 card-margin"></div>
            </div>

            <div class="row card-link-row">
                <div class="col-2-24 card-margin"></div>
                <div class="col-4-24 card-link-container">
                    <div class="icon-link-container">
                        <a href="https://gwct.github.io/" class="icon-link" target="_blank">
                            <div class="icon-container">
                                <img class="icon" src="../docs/img/icons/website-logo-black.png">
                            </div>
                            <span>Website</span>
                        </a>
                    </div>
                </div>
                <div class="col-2-24 card-margin"></div>
                <div class="col-4-24 card-link-container">
                    <div class="icon-link-container">
                        <a href="https://scholar.google.com/citations?user=4pydfEUAAAAJ&hl=en" class="icon-link" target="_blank">
                            <div class="icon-container">
                                <img class="icon" src="../docs/img/icons/scholar-logo-black.png">
                            </div>
                            <span>Scholar</span>
                        </a>
                    </div>
                </div>
                <div class="col-2-24 card-margin"></div>
                <div class="col-4-24 card-link-container">
                    <div class="icon-link-container">
                        <a href="https://github.com/gwct" class="icon-link" target="_blank">
                            <div class="icon-container">
                                <img class="icon" src="../docs/img/icons/github-logo-black.png">
                            </div>
                            <span>Github</span>
                        </a>
                    </div>
                </div>
                <div class="col-2-24 card-margin"></div>
            </div>         

        </div>

        <div class="col-1-24 margin"></div>
        
        <div class="col-6-24 card-container">
            <div class="row">
                <div class="col-6-24 card-margin"></div>
                <div class="col-12-24 card-name">
                    <h3>Gregg Thomas, Ph.D.</h3>
                </div>
                <div class="col-6-24 card-margin"></div>
            </div>

            <div class="row">
                <div class="col-1-24 card-margin"></div>
                <div class="col-9-24 card-img-container">
                    <a href="https://gwct.github.io/" target="_blank">
                        <img class="card-img" src="../docs/img/people/gwct.jpg">
                    </a>
                </div>
                <div class="col-2-24 card-margin"></div>
                <div class="col-10-24 card-content">
                    gthomas@fas.harvard.edu<br />
                    Northwest Labs, B227.65<br />                    
                    <p>
                        Gregg does phylogenetics and stuff. He also codes in python and R and uses snakemake and conda. 
                        In his spare time he likes to read, play games, do puzzles, and walk dogs
                    </p>
                </div>
                <div class="col-2-24 card-margin"></div>
            </div>

            <div class="row card-link-row">
                <div class="col-2-24 card-margin"></div>
                <div class="col-4-24 card-link-container">
                    <div class="icon-link-container">
                        <a href="https://gwct.github.io/" class="icon-link" target="_blank">
                            <div class="icon-container">
                                <img class="icon" src="../docs/img/icons/website-logo-black.png">
                            </div>
                            <span>Website</span>
                        </a>
                    </div>
                </div>
                <div class="col-2-24 card-margin"></div>
                <div class="col-4-24 card-link-container">
                    <div class="icon-link-container">
                        <a href="https://scholar.google.com/citations?user=4pydfEUAAAAJ&hl=en" class="icon-link" target="_blank">
                            <div class="icon-container">
                                <img class="icon" src="../docs/img/icons/scholar-logo-black.png">
                            </div>
                            <span>Scholar</span>
                        </a>
                    </div>
                </div>
                <div class="col-2-24 card-margin"></div>
                <div class="col-4-24 card-link-container">
                    <div class="icon-link-container">
                        <a href="https://github.com/gwct" class="icon-link" target="_blank">
                            <div class="icon-container">
                                <img class="icon" src="../docs/img/icons/github-logo-black.png">
                            </div>
                            <span>Github</span>
                        </a>
                    </div>
                </div>
                <div class="col-2-24 card-margin"></div>
            </div>       

        </div>
        
        <div class="col-2-24 margin"></div>
    </div>


    <div class="sep-div"></div>

    <div class="row">
        <div class="col-2-24 margin"></div>
        <div class="col-6-24 card-container alum-card-container">
            <div class="alum-card">
                <b><a href="" target="_blank">Allison Shultz, Ph.D.</a></b><br />
                Senior Bioinformatics Scientist (2017-2019)

                <p>
                    Allison was a Senior Bioinformatics Scientist in the group. She is now the Associate Curator of 
                    Ornithology at the Natural History Museum of Los Angeles County.
                </p>
            </div>

        </div>

        <div class="col-1-24 margin"></div>

        <div class="col-6-24 card-container alum-card-container">
            <div class="alum-card">
                <b><a href="" target="_blank">Allison Shultz, Ph.D.</a></b><br />
                Senior Bioinformatics Scientist (2017-2019)

                <p>
                    Allison was a Senior Bioinformatics Scientist in the group. She is now the Associate Curator of 
                    Ornithology at the Natural History Museum of Los Angeles County.
                </p>
            </div>

        </div>

        <div class="col-1-24 margin"></div>
        
        <div class="col-6-24 card-container alum-card-container">
            <div class="alum-card">
                <b><a href="" target="_blank">Allison Shultz, Ph.D.</a></b><br />
                Senior Bioinformatics Scientist (2017-2019)

                <p>
                    Allison was a Senior Bioinformatics Scientist in the group. She is now the Associate Curator of 
                    Ornithology at the Natural History Museum of Los Angeles County.
                </p>
            </div>

        </div>     

        <div class="col-2-24 margin"></div>


    </div>

    <div class="row">


        <div class="col-6-24 card-container">
            <div class="row">
                <div class="col-6-24 card-margin"></div>
                <div class="col-12-24 card-name">
                    <h3>Gregg Thomas, Ph.D.</h3>
                </div>
                <div class="col-6-24 card-margin"></div>
            </div>

            <div class="row">
                <div class="col-1-24 card-margin"></div>
                <div class="col-9-24 card-img-container">
                    <a href="https://gwct.github.io/" target="_blank">
                        <img class="card-img" src="../docs/img/people/gwct.jpg">
                    </a>
                </div>
                <div class="col-2-24 card-margin"></div>
                <div class="col-10-24 card-content">
                    gthomas@fas.harvard.edu<br />
                    Northwest Labs, B227.65<br />                    
                    <p>
                        Gregg does phylogenetics and stuff. He also codes in python and R and uses snakemake and conda. 
                        In his spare time he likes to read, play games, do puzzles, and walk dogs
                    </p>

                </div>
                <div class="col-2-24 card-margin"></div>
            </div>

            <!-- <div class="card-sep-div"></div> -->

            <div class="row card-link-row">
                <div class="col-2-24 card-margin"></div>
                <div class="col-4-24 card-link-container">
                    <div class="icon-link-container">
                        <a href="https://gwct.github.io/" class="icon-link" target="_blank">
                            <div class="icon-container">
                                <img class="icon" src="../docs/img/icons/website-logo-black.png">
                            </div>
                            <span>Website</span>
                        </a>
                    </div>
                </div>
                <div class="col-2-24 card-margin"></div>
                <div class="col-4-24 card-link-container">
                    <div class="icon-link-container">
                        <a href="https://scholar.google.com/citations?user=4pydfEUAAAAJ&hl=en" class="icon-link" target="_blank">
                            <div class="icon-container">
                                <img class="icon" src="../docs/img/icons/scholar-logo-black.png">
                            </div>
                            <span>Scholar</span>
                        </a>
                    </div>
                </div>
                <div class="col-2-24 card-margin"></div>
                <div class="col-4-24 card-link-container">
                    <div class="icon-link-container">
                        <a href="https://github.com/gwct" class="icon-link" target="_blank">
                            <div class="icon-container">
                                <img class="icon" src="../docs/img/icons/github-logo-black.png">
                            </div>
                            <span>Github</span>
                        </a>
                    </div>
                </div>
                <div class="col-2-24 card-margin"></div>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-6-24 card-container">
            <div class="row">
                <div class="col-6-24 card-margin"></div>
                <div class="col-12-24 card-name">
                    <h3>Tim Sackton, Ph.D.</h3>
                </div>
    
                <div class="col-6-24 card-margin"></div>
            </div>
    
                <div class="row">
                    <div class="col-1-24 card-margin"></div>
                    <div class="col-9-24 card-img-container">
                        <a href="about/people/timsackton.md" target="_blank">
                            <img class="card-img" src="../docs/img/people/gwct.jpg" alt="Tim Sackton">
                        </a>
                    </div>
                    <div class="col-2-24 card-margin"></div>
                    <div class="col-10-24 card-content">
                        tsackton@g.harvard.edu<br/>
                         Northwest Labs, B227.10<br/>
                        <p>Tim runs the Bioinformatics group. His expertise is broadly in genomics, with a focus on genome assembly, comparative and population genomics, making genomic methods scalabile and easy to use, and developing new methods for analyzing genomic data.</p>
                    </div>
                    <div class="col-2-24 card-margin"></div>
                </div>
    
        </div>
    
    </div>

<!-- 
    <div class="row">
        <div class="col-4-24 margin"></div>

        <div class="col-4-24 card-container">
            <div class="row">
                <div class="col-9-24 card-img-container">
                    <a href="https://gwct.github.io/" target="_blank">
                        <img class="card-img" src="../docs/img/people/gwct.jpg">
                    </a>
                </div>
            </div>        
            
            <div class="row">
                <div class="col-6-24 card-margin"></div>
                <div class="col-12-24 card-name">
                    <h3>Gregg Thomas, Ph.D.</h3>
                </div>
                <div class="col-6-24 card-margin"></div>
            </div>                  

            <div class="row">
                <div class="col-2-24 card-margin"></div>
                <div class="col-20-24 card-content">
                    <p>
                        Gregg does phylogenetics and stuff. He also codes in python and R and uses snakemake and conda. 
                        In his spare time he likes to read, play games, do puzzles, and walk dogs
                    </p>
                    gthomas@fas.harvard.edu<br />
                    Northwest Labs, B227.65<br />
                </div>
                <div class="col-2-24 card-margin"></div>
            </div>

            <div class="card-sep-div"></div>

            <div class="row card-link-container">
                <div class="col-2-24 card-margin"></div>
                <div class="card-link">
                    <a href="https://gwct.github.io/" target="_blank">Personal Page</a>
                </div>
                <div class="col-2-24 card-margin"></div>
                <div class="card-link">
                    <a href="https://scholar.google.com/citations?user=4pydfEUAAAAJ&hl=en" target="_blank">Publications</a>
                </div>
                <div class="col-2-24 card-margin"></div>
                <div class="card-link">
                    <a href="https://github.com/gwct" target="_blank">github</a>
                </div>
                <div class="col-2-24 card-margin"></div>
            </div>            

        </div>

        <div class="col-2-24 margin"></div>

        <div class="col-4-24 card-container">
            <div class="row">
                <div class="col-9-24 card-img-container">
                    <a href="https://gwct.github.io/" target="_blank">
                        <img class="card-img" src="../docs/img/people/gwct.jpg">
                    </a>
                </div>
            </div>        
            
            <div class="row">
                <div class="col-6-24 card-margin"></div>
                <div class="col-12-24 card-name">
                    <h3>Gregg Thomas, Ph.D.</h3>
                </div>
                <div class="col-6-24 card-margin"></div>
            </div>                  

            <div class="row">
                <div class="col-2-24 card-margin"></div>
                <div class="col-20-24 card-content">
                    <p>
                        Gregg does phylogenetics and stuff. He also codes in python and R and uses snakemake and conda. 
                        In his spare time he likes to read, play games, do puzzles, and walk dogs
                    </p>
                    gthomas@fas.harvard.edu<br />
                    Northwest Labs, B227.65<br />
                </div>
                <div class="col-2-24 card-margin"></div>
            </div>

            <div class="card-sep-div"></div>

            <div class="row card-link-container">
                <div class="col-2-24 card-margin"></div>
                <div class="card-link">
                    <a href="https://gwct.github.io/" target="_blank">Personal Page</a>
                </div>
                <div class="col-2-24 card-margin"></div>
                <div class="card-link">
                    <a href="https://scholar.google.com/citations?user=4pydfEUAAAAJ&hl=en" target="_blank">Publications</a>
                </div>
                <div class="col-2-24 card-margin"></div>
                <div class="card-link">
                    <a href="https://github.com/gwct" target="_blank">github</a>
                </div>
                <div class="col-2-24 card-margin"></div>
            </div>            

        </div>

        <div class="col-2-24 margin"></div>

        <div class="col-4-24 card-container">
            <div class="row">
                <div class="col-9-24 card-img-container">
                    <a href="https://gwct.github.io/" target="_blank">
                        <img class="card-img" src="../docs/img/people/gwct.jpg">
                    </a>
                </div>
            </div>        
            
            <div class="row">
                <div class="col-6-24 card-margin"></div>
                <div class="col-12-24 card-name">
                    <h3>Gregg Thomas, Ph.D.</h3>
                </div>
                <div class="col-6-24 card-margin"></div>
            </div>                  

            <div class="row">
                <div class="col-2-24 card-margin"></div>
                <div class="col-20-24 card-content">
                    <p>
                        Gregg does phylogenetics and stuff. He also codes in python and R and uses snakemake and conda. 
                        In his spare time he likes to read, play games, do puzzles, and walk dogs
                    </p>
                    gthomas@fas.harvard.edu<br />
                    Northwest Labs, B227.65<br />
                </div>
                <div class="col-2-24 card-margin"></div>
            </div>

            <div class="card-sep-div"></div>

            <div class="row card-link-container">
                <div class="col-2-24 card-margin"></div>
                <div class="card-link">
                    <a href="https://gwct.github.io/" target="_blank">Personal Page</a>
                </div>
                <div class="col-2-24 card-margin"></div>
                <div class="card-link">
                    <a href="https://scholar.google.com/citations?user=4pydfEUAAAAJ&hl=en" target="_blank">Publications</a>
                </div>
                <div class="col-2-24 card-margin"></div>
                <div class="card-link">
                    <a href="https://github.com/gwct" target="_blank">github</a>
                </div>
                <div class="col-2-24 card-margin"></div>
            </div>            


        </div>        
        
        <div class="col-4-24 margin"></div>
    </div> -->

</body>




<!-- <div class="row">
    <div class="col-2-24 card-margin"></div>
    <div class="col-20-24">
        <span class="expertise">Phylogenetics</span>
        <span class="expertise">Comparative genomics</span>
        <span class="expertise">Python</span>
        <span class="expertise">Snakemake</span>
        <span class="expertise">conda</span>
        <span class="expertise">Phylogenetics</span>
        <span class="expertise">Phylogenetics</span>
        <span class="expertise">Hand-crafted, artisanal HTML/CSS</span>
    </div>
    <div class="col-2-24 card-margin"></div>
</div> -->

<!-- /* .expertise {
    font-family: Consolas, monospace;
    display: inline-block;
    padding: 4px;
    margin: 4px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background-color: #ffffff;
    border: 1px solid #999999;
    color: #333333;
  } */ -->