<div class="col-6-24 card-container">
    <div class="row">
        <div class="col-6-24 card-margin"></div>
        <div class="col-12-24 card-name">
            <h3>{name}, Ph.D.</h3>
        </div>
        <div class="col-6-24 card-margin"></div>
    </div>

    <div class="row">
        <div class="col-1-24 card-margin"></div>
        <div class="col-9-24 card-img-container">
            <a href="{personal_link}" target="_blank">
                <img class="card-img" src="{picture}">
            </a>
        </div>
        <div class="col-2-24 card-margin"></div>
        <div class="col-10-24 card-content">
            {email}<br />
            Northwest Labs, {office}<br />                    
            <p>
                {profile}
            </p>

        </div>
        <div class="col-2-24 card-margin"></div>
    </div>

    <!-- <div class="card-sep-div"></div> -->

    <div class="row card-link-row">
        <div class="col-2-24 card-margin"></div>
        <div class="col-4-24 card-link-container">
            <div class="icon-link-container">
                <a href="https://gwct.github.io/" class="icon-link" target="_blank">
                    <div class="icon-container">
                        <img class="icon" src="../docs/img/icons/website-logo-black.png">
                    </div>
                    <span>Website</span>
                </a>
            </div>
        </div>
        <div class="col-2-24 card-margin"></div>
        <div class="col-4-24 card-link-container">
            <div class="icon-link-container">
                <a href="https://scholar.google.com/citations?user=4pydfEUAAAAJ&hl=en" class="icon-link" target="_blank">
                    <div class="icon-container">
                        <img class="icon" src="../docs/img/icons/scholar-logo-black.png">
                    </div>
                    <span>Scholar</span>
                </a>
            </div>
        </div>
        <div class="col-2-24 card-margin"></div>
        <div class="col-4-24 card-link-container">
            <div class="icon-link-container">
                <a href="https://github.com/gwct" class="icon-link" target="_blank">
                    <div class="icon-container">
                        <img class="icon" src="../docs/img/icons/github-logo-black.png">
                    </div>
                    <span>Github</span>
                </a>
            </div>
        </div>
        <div class="col-2-24 card-margin"></div>
    </div>

</div>