/*------------------------------------------------------*/
/* Profile header styles */

.profile-header {
 display: flex; 
 align-items: center; 
 gap: 1em;
}

.profile-header img {
  max-width: 200px; 
  width: 100%; 
  height: auto; 
  border-radius: 50%; 
  object-fit: cover; 
  aspect-ratio: 1 / 1; 
  margin-right: 0.5em;
}

.profile-name {
  display: flex; 
  flex-direction: column; 
  line-height: 1.3;
}

.profile-title {
  font-size: 0.65em; 
  color: #666;
}